header {
  background-color: #03256c;
  position: fixed;
  max-width: 100%;
  width: 100%;
  z-index: 3;
}

header h1 {
  display: none;
  color: brown;
  text-align: center;
  font-family: "Pacifico", cursive;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: ver;
          animation-name: ver;
}

@-webkit-keyframes ver {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ver {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header .menuIndex {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #03256c;
  /*ul {
        list-style: none;
        font-size: 0;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        ul {
          position: absolute;
          display: none;
        }
        ul {
          li {
            display: block;
          }
        }
        li {
          &:hover {
            ul {
              display: block;
              background-color: black;
            }
          }
        }
        li {
          display: inline-block;
          text-align: center;
          font-weight: bold;
          padding: 0px 80px 0px 80px;
          font-size: 18px;
          position: relative;
          a {
            text-decoration: none;
            color: aqua;
            &:hover {
              background: white;
              color: darkgreen;
              padding: 5px;
            }
          }
        }
      }*/
}

header .menuIndex .logo {
  width: 50px;
  margin-left: 20px;
}

header .menuIndex .bar-btn {
  font-size: 25px;
  color: #fff;
  text-align: right;
  margin-right: 20px;
  cursor: pointer;
}

header .menuIndex .nav-menu {
  position: fixed;
  max-width: 100%;
  height: 0px;
  top: 100px;
  background: #1768AC;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .menuIndex .nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .menuIndex .nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

header .menuIndex .nav-menu li a .active {
  color: brown;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menuIndex .nav-menu li a:hover {
  color: brown;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menuIndex #check {
  display: none;
}

header .menuIndex #check:checked ~ .nav-menu {
  height: 300px;
  margin-top: 60px;
}

header .menuIndex #check:checked ~ .nav-menu li {
  display: block;
}

.tituloBlog {
  padding-top: 100px;
  text-align: center;
}

.tituloBlog .tituloBlogH1 {
  color: #CF0000;
  font-family: "Otomanopee One", sans-serif;
}

.containerBlog {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.containerBlog .contentBlog {
  text-align: center;
  margin-top: 5px;
  background-color: #1768AC;
  padding: 20px;
  border: 1px solid black;
  grid-column: span 3;
}

.containerBlog .sidebarBlog {
  margin-top: 5px;
  background-color: #1768AC;
  padding: 20px;
  border: 1px solid black;
  width: 90%;
  grid-column: span 2;
}

.containerBlog .sidebarBlog .fotoBlog {
  text-align: center;
}

.containerBlog .sidebarBlog .fotoBlog .imgBlog {
  width: 300px;
  height: 200px;
}

.containerBlog .publicacionesRelacionadas {
  background-color: #1768AC;
  padding: 20px;
  border: 1px solid black;
  font-size: 15px;
}

.containerBlog .publicacionesRelacionadas a {
  color: brown;
  text-decoration: none;
}

.containerBlog .publicacionesRelacionadas a h2 {
  font-size: 30px;
}

.containerBlog .publicacionesRelacionadas a h2:hover {
  background: #E1E5EA;
}

.ulFooter {
  list-style: none;
  font-size: 0;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ulFooter li {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0px 80px 0px 80px;
  font-size: 18px;
  position: relative;
}

.ulFooter li a {
  text-decoration: none;
  color: aqua;
}

footer {
  background-color: #E5D549;
}

footer .logo {
  -webkit-transform: skewy(15deg);
          transform: skewy(15deg);
}

footer .h5Footer {
  font-size: 45px;
  text-align: center;
}

footer .redes {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .redes .redesLi {
  padding: 10px;
}

footer .redes .redesLi a .fotoFooter {
  width: 30px;
  height: 30px;
}

footer .redes .redesLi a .fotoFooter:hover {
  width: 45px;
  height: 45px;
}

footer .redes .redesLi a:hover .btn--ig {
  border: 7px solid #8293a0;
}

footer .redes .redesLi a:hover .btn--twit {
  border: 7px solid #55acee;
}

footer .redes .redesLi a:hover .btn--face {
  border: 7px solid #3a5795;
}

footer .redes .redesLi a:hover .btn--mail {
  border: 7px solid #C25E30;
}

.contacto {
  padding-top: 120px;
  padding-left: 10px;
  font-family: "Otomanopee One", sans-serif;
  font-size: 20px;
}

.introduccion {
  padding-top: 120px;
  text-align: center;
  color: black;
  font-size: 30px;
}

.historia {
  text-align: center;
  font-size: 30px;
}

.cajaSaliente {
  text-align: center;
}

.carousel {
  background: #1768AC;
  padding-top: 2px;
}

.carousel .sizeCarrousel {
  width: 100%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.carousel .botonCarousel {
  background-color: gray;
}

.galeria {
  padding-top: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
      grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 foto9";
}

.galeria .foto {
  width: 100%;
  height: 100%;
}

.galeria .foto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: foto1;
}

.galeria .foto2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto2;
}

.galeria .foto3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: foto3;
}

.galeria .foto4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: foto4;
}

.galeria .foto5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: foto5;
}

.galeria .foto6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: foto6;
}

.galeria .foto7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foto7;
}

.galeria .foto8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: foto8;
}

.galeria .foto9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: foto9;
}

.lineaNenas {
  padding-top: 120px;
  padding-left: 150px;
  text-align: center;
}

.lineaNenas .box-producto {
  background-color: skyblue;
  display: block;
  padding: 18px;
  margin-bottom: 30px;
  position: relative;
}

.lineaNenas .box-producto .fotoNenas {
  height: 100%;
  width: 100%;
}

.lineaNenas .videoNenas {
  margin-top: 20px;
}

/*tablet*/
@media only screen and (min-width: 768px) {
  body {
    background-color: #1768ac;
  }
  header h1 {
    display: block;
  }
  header .menuIndex {
    height: 100px;
  }
  header .menuIndex .logo {
    display: none;
  }
  header .menuIndex .bar-btn {
    display: none;
  }
  header .menuIndex .nav-menu {
    list-style: none;
    font-size: 0;
    text-transform: uppercase;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .menuIndex .nav-menu ul {
    position: absolute;
    display: none;
  }
  header .menuIndex .nav-menu ul li {
    display: block;
  }
  header .menuIndex .nav-menu li:hover ul {
    display: block;
    background-color: black;
  }
  header .menuIndex .nav-menu li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0px 80px 0px 80px;
    font-size: 18px;
    position: relative;
  }
  header .menuIndex .nav-menu li a {
    text-decoration: none;
    color: aqua;
  }
  header .menuIndex .nav-menu li a:hover {
    background: white;
    color: darkgreen;
    padding: 5px;
  }
}

/*computadora
  @media only screen and (min-width: 1024px) {
    body {
      background-color:#1768AC;
    }
    h1 {
      color: #E5D549;
      font-size: 36px;
    }
  }
  */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Mate SC", serif;
  max-width: 100%;
  height: 100%;
  background-color: #1768AC;
}

body .shop-container {
  height: 1300px;
  width: 1500px;
  padding-top: 150px;
  padding-left: 10px;
  text-align: center;
}

body .shop-container h2 {
  font-family: #E5D549;
  font-size: 50px;
}

body .shop-container .row .col .row {
  text-align: center;
}

body .shop-container .row .col .row .imgProducto {
  width: 100%;
  height: 300px;
}

body .shop-container .row .col .row .descripcionProducto {
  font-size: 20px;
  font-family: "Otomanopee One", sans-serif;
  text-align: center;
}

body .shop-container .row .col .row .precioProducto {
  font-size: 20px;
  font-family: #1768AC;
}

body .puntosVenta-container {
  text-align: center;
  padding-top: 120px;
  height: 100%;
  width: 100%;
}

body .puntosVenta-container .fila-sucursal {
  border-style: outset;
  padding: 18px;
  margin-bottom: 30px;
  position: relative;
}

body .puntosVenta-container .fila-sucursal .bloque-sucursal {
  background-color: aliceblue;
  border-style: inset;
  margin: 5px;
}

body .row {
  margin-top: 30px;
  padding-top: 50px;
}

body .row .imagen img {
  width: 100%;
  height: 250px;
}
