$fondoBody: #1768AC;
$fondoHeader: #03256c;
$colorH1: brown;
$fondoContenedoresBlog:#1768AC;
$fondoFooter:rgb(255, 207, 0);
$colorTituloPaginas:#CF0000;
$fondoHover:#E1E5EA;
$fondoCarousel:#1768AC;
$redes: ( 
        ig:#8293a0,
        twit: #55acee,
        face:  #3a5795,
        mail: #C25E30
); 
