.introduccion {
    padding-top: 120px;
    text-align: center;
    color: black;
    font-size: $letraParrafo;
  }
  .historia {
    text-align: center;
    font-size: $letraParrafo;
  }
  .cajaSaliente {
    text-align: center;
  }
 