/*tablet-pc*/
@media only screen and (min-width: 768px) {
  body {
    background-color: #1768ac;
  }
  //menu header
  header {
    max-width: 100%;
    width: 100%;
    h1 {
      display: block;
    }
    .menuIndex {
      height: 100px;
      .logo {
        display: none;
      }
      .bar-btn {
        display: none;
      }
      .nav-menu {
        list-style: none;
        background-color: #105894;
        height: 100px;
        font-size: 0;
        text-transform: uppercase;
        width: 100%;
        top:100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        ul {
          position: absolute;
          display: none;
        }
        ul {
          li {
            display: block;
          }
        }
        li {
          &:hover {
            ul {
              display: block;
              background-color: $fondoContenedoresBlog;
            }
          }
        }
        li {
          display: inline-block;
          text-align: center;
          font-weight: bold;
          padding: 0px 30px 0px 30px;
          font-size: 18px;
          position: relative;
          a {
            text-decoration: none;
            color: aqua;
            &:hover {
              background: white;
              color: darkgreen;
              padding: 5px;
            }
          }
        }
      }
    }
  }

  //blog responsive
  .tituloBlog {
    padding-top: 200px;
    text-align: center;
    .tituloBlogH1 {
      color: $colorTituloPaginas;
      font-family: $fontTituloPagina;
    }
  }

  .containerBlog {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(5, 1fr);
    .contentBlog {
      text-align: center;
      margin-top: 5px;
      background-color: $fondoContenedoresBlog;
      padding: 20px;
      border: 1px solid black;
      grid-column: span 3;
    }
    .sidebarBlog {
      margin-top: 5px;
      background-color: $fondoContenedoresBlog;
      padding: 20px;
      border: 1px solid black;
      width: 90%;
      grid-column: span 2;
      .fotoBlog {
        text-align: center;
        .imgBlog {
          width: $anchofotoAsideBlog;
          height: $altofotoAsideBlog;
        }
      }
    }
    .publicacionesRelacionadas {
      background-color: $fondoContenedoresBlog;
      padding: 20px;
      border: 1px solid black;
      font-size: 15px;

      a {
        color: $colorH1;
        text-decoration: none;
        h2 {
          font-size: 30px;
          &:hover {
            background: $fondoHover;
          }
        }
      }
    }
  }
  // producto responsive
  .shop-container {
    h2 {
      padding-top: 50px;
    }
    .row {
     

      .imagen {
        img {
          height: 150px;
        }
      }
    }
  }
  //linea nenas
  .tituloNenas {
    padding-top: 220px;
    text-align: center;
    font-size: $letraTitulo;
  }
  .box-prodcuto{
    max-width: 100%;
    max-height: 100%;
  }
  .box-photo {
    @include medidaCaja(100%,150px);
  }
  //puntos de venta 
  .tituloPuntosVenta{
    padding-top: 100px;
  }
  .fila-sucursal{
    display: flex;
    .bloque-sucursal{
      height: 250px;
      min-height: 100%;
      text-align: center;
    }
  }
}
