$anchoLogoFooter:30px;
$altoLogoFooter:30px;
$anchofotoAsideBlog:200px;
$altofotoAsideBlog:200px;
$letraTitulo:50px;
$letraParrafo:30px;
$letraDescripcion:20px;
$letraPrecios:20px;
$altoFotoShop:100px;
$anchoFotoShop:100px;
$altoFotoShopNenas:100%;
$anchoFotoShopNenas:100%;
$altoShopContainer:1300px;
$anchoShopContainer:100%;
$altoImgProducto:300px;
$anchoImgProducto:100%;
$altoContainerPuntosVenta:100%;
$anchoContainerPuntosVenta:100%;


@mixin medidaCaja($width, $height) {
    height: $height;
    width: $width;
 }
 