@import "colores";
@import "tamanio";
@import "tipografia";

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  min-height: 100%;
  font-family: "Mate SC", serif;
  width: 100%;
  height: 100%;
  background-color: $fondoBody;

  header {
    background-color: $fondoHeader;
    position: fixed;

    width: 100%;
    height: 15%;
    z-index: 3;
    h1 {
      color: $colorH1;
      text-align: center;
      font-family: "Pacifico", cursive;
      animation-duration: 10s;
      animation-name: ver;
      @keyframes ver {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    .menuIndex {
      height: 50 px;
      background-color: $fondoHeader;
      ul {
        list-style: none;
        font-size: 0;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        ul {
          position: absolute;
          display: none;
        }
        ul {
          li {
            display: block;
          }
        }
        li {
          &:hover {
            ul {
              display: block;
              background-color: black;
            }
          }
        }
        li {
          display: inline-block;
          text-align: center;
          font-weight: bold;
          padding: 0px 80px 0px 80px;
          font-size: 18px;
          position: relative;
          a {
            text-decoration: none;
            color: aqua;
            &:hover {
              background: white;
              color: darkgreen;
              padding: 5px;
            }
          }
        }
      }
    }
  }
  .introduccion {
    padding-top: 120px;
    text-align: center;
    color: black;
    font-size: $letraParrafo;
  }
  .historia {
    text-align: center;
    font-size: $letraParrafo;
  }
  .cajaSaliente {
    text-align: center;
  }
  .tituloBlog {
    padding-top: 100px;
    text-align: center;
    .tituloBlogH1 {
      color: $colorTituloPaginas;
      font-family: $fontTituloPagina;
    }
  }

  .containerBlog {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(5, 1fr);
    .contentBlog {
      text-align: center;
      margin-top: 5px;
      background-color: $fondoContenedoresBlog;
      padding: 20px;
      border: 1px solid black;
      grid-column: span 3;
    }
    .sidebarBlog {
      margin-top: 5px;
      background-color: $fondoContenedoresBlog;
      padding: 20px;
      border: 1px solid black;
      width: 90%;
      grid-column: span 2;
      .fotoBlog {
        text-align: center;
        .imgBlog {
          width: $anchofotoAsideBlog;
          height: $altofotoAsideBlog;
        }
      }
    }
    .publicacionesRelacionadas {
      background-color: $fondoContenedoresBlog;
      padding: 20px;
      border: 1px solid black;
      font-size: 15px;

      a {
        color: $colorH1;
        text-decoration: none;
        h2 {
          font-size: 30px;
          &:hover {
            background: $fondoHover;
          }
        }
      }
    }
  }
  .carousel {
    background: $fondoCarousel;
    padding-top: 2px;
    .sizeCarrousel {
      width: 800px;
      margin-top: 120px;
      margin-left: auto;
      margin-right: auto;
    }
    .botonCarousel {
      background-color: gray;
    }
  }
  .galeria {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto1 foto2 foto3"
      "foto4 foto5 foto6"
      "foto7 foto8 foto9";
    .foto {
      width: 100%;
      height: 100%;
    }
    @for $i from 1 through 9 {
      .foto#{$i} {
        grid-area: foto#{$i};
      }
    }
  }
  .ulFooter {
    list-style: none;
    font-size: 0;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
      display: inline-block;
      text-align: center;
      font-weight: bold;
      padding: 0px 80px 0px 80px;
      font-size: 18px;
      position: relative;
      a {
        text-decoration: none;
        color: aqua;
      }
    }
  }
  footer {
    background-color: $fondoFooter;
    .logo {
      transform: skewy(15deg);
    }
    .h5Footer {
      font-size: 45px;
      text-align: center;
    }

    .redes {
      list-style: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .redesLi {
        padding: 10px;

        a {
          .fotoFooter {
            width: $anchoLogoFooter;
            height: $altoLogoFooter;
            &:hover {
              width: $anchoLogoFooter * 2;
              height: $altoLogoFooter * 2;
            }
          }
          &:hover {
            @each $red, $color in $redes {
              .btn--#{$red} {
                border: 7px solid $color;
              }
            }
          }
        }
      }
    }
  }
  .shop-container {
    height: $altoShopContainer;
    width: $anchoShopContainer;
    padding-top: 150px;
    padding-left: 10px;
    text-align: center;
   
    h2{
      font-family: $fondoFooter;
      font-size: $letraTitulo;
    }
    .row {
      .col {
        
        .row {
          text-align: center;
          .imgProducto {
            
            width: $anchoImgProducto;
            height: $altoImgProducto;
          }
          .descripcionProducto {
            font-size: $letraDescripcion;
            font-family: $fontDescripciones;
            text-align:center;
          }
          .precioProducto{
            font-size: $letraPrecios;
            font-family: $fondoContenedoresBlog;
          }
        }
      }
    }
  }
  .puntosVenta-container{
    
  }
}
