@import "colores";
@import "tamanio";
@import "tipografia";
@import "header";
@import "blog";
@import "footer";
@import "responsive";
@import "contacto";
@import "quienesSomos";
@import "index";
@import "lineaNenas";

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  min-height: 100%;
  font-family: "Mate SC", serif;
  width: 100%;
  height: 100%;
  background-color: $fondoBody;
  
  .shop-container {
    height: $altoShopContainer;
    width: $anchoShopContainer;
    padding-top: 150px;
    padding-left: 10px;
    text-align: center;

    h2 {
      font-family: $fondoFooter;
      font-size: $letraTitulo;
    }
    .row {
      .col {
        .row {
          text-align: center;
          .imgProducto {
            width: $anchoImgProducto;
            height: $altoImgProducto;
          }
          .descripcionProducto {
            font-size: $letraDescripcion;
            font-family: $fontDescripciones;
            text-align: center;
          }
          .precioProducto {
            font-size: $letraPrecios;
            font-family: $fondoContenedoresBlog;
          }
        }
      }
    }
  }
  .puntosVenta-container {
    text-align: center;
    padding-top: 120px;
    @include medidaCaja($anchoContainerPuntosVenta, $altoContainerPuntosVenta);
    
  }
}
